<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<!--    <test thread-count="5" name="Test">-->
<!--        <classes>-->
<!--            <class name="Pages.LoginPage">-->
<!--                <methods>-->
<!--                    <include name="login"></include>-->
<!--                </methods>-->
<!--            </class>-->
<!--            <class name="Pages.Logout">-->
<!--                <methods>-->
<!--                    <include name="logout"></include>-->
<!--                </methods>-->
<!--            </class>-->
<!--            <class name="Pages.About">-->
<!--                <methods>-->
<!--                    <include name="about"></include>-->
<!--                </methods>-->
<!--            </class>-->
<!--            <class name="Pages.HomePage">-->
<!--                <methods>-->
<!--                    <include name="findProduct"></include>-->
<!--                    <include name="shoppingCartLink"></include>-->
<!--                </methods>-->
<!--            </class>-->
<!--        </classes>-->
<!--    </test> &lt;!&ndash; Test &ndash;&gt;-->
    <listeners>
        <listener class-name="resources.Listeners"></listener>
    </listeners>
    <test name="login">

        <classes>
            <class name="Test.LoginTest"></class>
            <class name="Test.AboutPageTest"></class>
            <class name="Test.HomePageTest"></class>
            <class name="Test.LogoutTest"></class>
        </classes>
    </test>
</suite> <!-- Suite -->
